.button {
  display: inline-block;
  height: 40px;
  padding-right: 30px;
  padding-left: 30px;
  border: 0;
  border-radius: 40px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  color: white;
  cursor: pointer;
  font-style: normal;
  font-weight: 600;
  line-height: 41px;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
}

.button:focus {
  outline: none;
}

.button:visited {
  color: #fefefe;
}

.button--green {
  background-color: #1dcc87;
  color: #fff;
  text-shadow: 0 1px 3px rgba(36, 180, 126, 0.4);
}

.button--green:hover {
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  transform: translateY(-1px);
}

.button--purple {
  background-color: #282270;
}

.button--large {
  height: auto;
  padding: 5px 45px;
  margin-top: 20px;
}

.button--link {
  margin-top: 25px !important;
  background-color: transparent;
  box-shadow: none;
  font-size: 12px;
  font-weight: 600;
  line-height: 42px;
  text-shadow: 0 1px 3px rgba(36, 180, 126, 0.4);
}
