
  .page-header__flag {
    position: relative;
    top: 8px;
    width: 40px;
    margin-right: 25px;
  }
  
  @media screen and (min-width: 768px) {
    .page-header {
      padding: 50px;
    }
  }
  
  .page-header__logo-color {
    color: #33357f;
  }
  
  .page-header__logo {
    display: inline-block;
    width: 250px;
    margin-right: 15px;
    color: #fff;
  }
  
  @media screen and (min-width: 768px) {
    .page-header__logo {
      width: 350px;
    }
  }
  
  .page-header__logo img {
    width: 100%;
  }
  
  .page-header__logo:hover {
    opacity: 1;
  }
  
  .page-header__logo-image {
    width: 200px;
    fill: #fff;
    vertical-align: middle;
  }
  
  @media screen and (min-width: 768px) {
    .page-header__logo-image {
      width: 336px;
      fill: #fff;
    }
  }
  
  .page-header__logo-sigle {
    width: 30px;
    margin-right: 12px;
    fill: #fff;
    vertical-align: middle;
  }
  
  @media screen and (max-width: 768px) {
    .page-header__logo {
      color: white;
    }
  }
  
  .page-header__logo h1 {
    display: inline-block;
    font-size: 24px;
    font-weight: 700;
  
    /* //text-transform: uppercase; */
    vertical-align: middle;
  }
  
  .page-header__nav {
    display: inline-block;
    width: 80%;
  }
  
  .page-header__nav--left {
    width: 60%;
    text-align: left;
  }
  
  .page-header__nav--right {
    width: 40%;
    text-align: right;
  }
  
  
  @media screen and (max-width: 768px) {
    .page-header__nav--right {
      text-align: left;
      margin-top: 15px;
      width: inherit;
    }  
  
    .page-header__flag {
      width: 25px;
    }
  }
  
  .page-header__link {
    margin-right: 2em;
    color: #fff;
    font-size: 1em;
    font-weight: 500;
    vertical-align: bottom;
  }
  
  .page-header__link--purple {
    margin-left: 50px;
    color: #5b5ddd;
  }
  
  .page-header__link:visited {
    color: #fff;
  }
  
  @media screen and (max-width: 768px) {
    .page-header__link {
      display: none;
    }
  
    .page-header__button {
      display: none;
    }
  }
  
  .page-header__button {
    min-width: 120px;
    margin-left: 25px;
    font-weight: 500;
    text-align: center;
  }