.map-demo__modals {
    position: relative;
    z-index: 100;
    width: 1280px;
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  
  @media screen and (min-width: 768px) {
    .map-demo__modals {
      margin: 70px auto;
    }
  }
  
  .map-demo__modal {
    position: absolute;
    z-index: 10;
    top: 50%;
    width: 550px;
    max-width: 100%;
    height: 600px;
    padding: 38px;
    padding-top: 70px;
    margin-top: -145px;
    background: white;
    border-radius: 3px;
  }
  
  .map-demo__title {
    margin-bottom: 20px;
    font-size: 36px;
  }
  
  .map-demo__paragraph {
    min-height: 100px;
    color: #575757;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
  }
  
  .map-demo__modals-nav {
    position: absolute;
    z-index: 1000;
    top: 32px;
    left: -100px;
    border: 0;
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    cursor: pointer;
    font-size: 28px;
  }
  
  .map-demo__modals-nav--right {
    left: 480px;
  }
  
  .map-demo__modal--1 {
    background: #fff no-repeat url('../../../images/modals/ice.jpg');
    background-position: center bottom;
    background-size: 550px auto;
  }
  
  .map-demo__modal--2 {
    background: #fff no-repeat url('../../../images/modals/plain-1.jpg');
    background-position: center 360px;
    background-size: 550px auto;
  }
  
  .map-demo__modal--5 {
    background: #fff no-repeat url('../../../images/modals/plain-4.jpg');
    background-position: center 360px;
    background-size: 550px auto;
  }
  
  .map-demo__modal-header {
    position: absolute;
    top: -152px;
    left: 0;
    width: 550px;
    height: 215px;
  }
  
  .map-demo__modal-header--1 {
    background: no-repeat url('../../../images/modals/dialog-box-1.png');
    background-position: bottom center;
    background-size: 530px auto;
  }
  
  .map-demo__modal-header--2 {
    background: no-repeat url('../../../images/modals/dialog-box-2.png');
    background-position: bottom center;
    background-size: 530px auto;
  }
  
  .map-demo__modal-header--3 {
    background: no-repeat url('../../../images/modals/dialog-box-3.png');
    background-position: bottom center;
    background-size: 530px auto;
  }
  